@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: 'Neue Montreal';
    src: local('./fonts/TTHoves/Neue Montreal Regular'), local('./fonts/TTHoves/Neue-Montreal-Regular'),
        url('./fonts/NeueMontreal/NeueMontreal-Regular.woff2') format('woff2'),
        url('./fonts/NeueMontreal/NeueMontreal-Regular.woff') format('woff'),
        url('/./fonts/NeueMontreal/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-DemiBold.eot');
    src: local('./fonts/TTHoves/TT Hoves DemiBold'), local('./fonts/TTHoves/TTHoves-DemiBold'),
        url('./fonts/TTHoves/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-DemiBold.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-DemiBold.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-Black.eot');
    src: local('./fonts/TTHoves/TT Hoves Black'), local('./fonts/TTHoves/TTHoves-Black'),
        url('./fonts/TTHoves/TTHoves-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Black.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Black.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-ExtraLight.eot');
    src: local('./fonts/TTHoves/TT Hoves ExtraLight'), local('./fonts/TTHoves/TTHoves-ExtraLight'),
        url('./fonts/TTHoves/TTHoves-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-ExtraLight.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-ExtraLight.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-Bold.eot');
    src: local('./fonts/TTHoves/TT Hoves Bold'), local('./fonts/TTHoves/TTHoves-Bold'),
        url('./fonts/TTHoves/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Bold.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Bold.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-ExtraBold.eot');
    src: local('./fonts/TTHoves/TT Hoves ExtraBold'), local('./fonts/TTHoves/TTHoves-ExtraBold'),
        url('./fonts/TTHoves/TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-ExtraBold.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-ExtraBold.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-Regular.eot');
    src: local('./fonts/TTHoves/TT Hoves Regular'), local('./fonts/TTHoves/TTHoves-Regular'),
        url('./fonts/TTHoves/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Regular.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Regular.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('./fonts/TTHoves/TTHoves-Hairline.eot');
    src: local('./fonts/TTHoves/TT Hoves Hairline'), local('./fonts/TTHoves/TTHoves-Hairline'),
        url('./fonts/TTHoves/TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Hairline.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Hairline.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-Light.eot');
    src: local('./fonts/TTHoves/TT Hoves Light'), local('./fonts/TTHoves/TTHoves-Light'),
        url('./fonts/TTHoves/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Light.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Light.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('./fonts/TTHoves/TTHoves-Medium.eot');
    src: local('./fonts/TTHoves/TT Hoves Medium'), local('./fonts/TTHoves/TTHoves-Medium'),
        url('./fonts/TTHoves/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTHoves/TTHoves-Medium.woff2') format('woff2'),
        url('./fonts/TTHoves/TTHoves-Medium.woff') format('woff'),
        url('./fonts/TTHoves/TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



/* 
font-weight - соответствие слов и чисел

100 - Thin (Hairline)
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
 */

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
    font-family: 'TT Hoves';
    font-size: 20px;
    font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

/* Links */

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
    
}

h4 {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


.border-b {
    border-bottom: 1px solid #E5E5E5;
}




/* Header */

.gradient {
    background: linear-gradient(30deg, #d9e1ff 1.41%, #dff4ff 100%);
}

.header {
    padding-top: 35px;
    padding-bottom: 90px;
    height: 100vh;
}

.logo {
    padding-right: 190px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 120px;
}


.nav__cabinet {
    display: flex;
    align-items: center;
}

.nav__cabinet-enter::before {
    content: url(/images/log_in-man.svg);
    padding-right: 5px;
}
.nav__cabinet-btn {
    white-space: nowrap;
    border-radius: 30px;
    padding: 15px 24px;
    margin-left: 20px;
    max-width: 180px;
    max-height: 50px;
    background-color: #fff;
}

.title {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__container {
    max-width: 1020px;
    text-align: center;
}

.title__desc-1 {
    font-size: 24px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.title__name {
    font-size: 90px;
    line-height: 100%;
    letter-spacing: -0.03em;
    padding: 25px 0;
    padding-bottom: 100px;
}

.title__desc-2 {
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.45);
    padding-bottom: 100px;
}

.title__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #fff;
    border-radius: 30px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    background-color: #000000;
}

.title__btn-try {
    color: #fff;
    border-radius: 30px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    background-color: #000000;
    margin-bottom: 30px;
}

.title__contact {
    font-size: 14px;
    letter-spacing: -0.01em;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.6);
}



/* TARIFF */


.whitebox {
    background-color: #fff;
    border-radius: 64px;
}


.tariff {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Расстояние между элементами */
    padding-bottom: 64px;
}


.tariff h2 {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.01em;
}

.tariff__card {
    position: relative;
    padding: 32px;
    height: 100%;
    height: 470px;
    max-width: 325px;
    border-radius: 40px;
}




.tariff__base {
    background-color: #F2F4F7;
}

.tariff__plus {
    background-color: #E5FBE2;
}

.tariff__business {
    background-color: #FFE9DA;
}


.tariff__desc {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.45);
    max-width: 260px;
    max-height: 72px;
    padding-bottom: 32px;
}



.tariff__price-3 {
    font-size: 32px;
    line-height: 90%;
    letter-spacing: -0.03em;
}

.tariff__choice {
    max-width: 325px;
}

.tariff__choice h2 {
    padding-bottom: 278px;
}

.tariff__choice p {
    line-height: 120%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.45);
    padding-bottom: 16px;
}


.tariff__price {
    font-size: 48px;
    letter-spacing: -0.03em;
}

.tariff__option {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
}

.tariff__option::before {
    content: url(/images/check.svg);
    padding-right: 6px;
}

.tariff__desc--opt {
    position: absolute;
    bottom: 32px;
}

.tariff__desc--opt a {
    color: #fff;
}


.tariff__btn {
    display: inline-block;
    margin-top: 32px;
}



/* INSTRUMENTS */


.instruments {
    padding-top: 64px;
}

.instruments__title {
    margin: 0 auto;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.01em;
    max-width: 725px;
    text-align: center;
}




/* INSTRUMENTS */

.instruments {
    border-bottom: 1px solid #E5E5E5;
}

.instruments__cards {
    padding: 64px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    padding: 32px;
    background-color: #F2F4F7;
    border-radius: 40px;
    width: 325px;
    height: 300px;
}

.card p {
    line-height: 120%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.45);
}

.card h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.price {
    position: absolute;
    bottom: 32px;
}





/* CONNECT */

.connect__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 40px;
}

.connect__card {
    border-radius: 40px; 2313
    padding: 32px;

}


.conncet__card-1 {
    background-color: #D9E1FF;
}

.conncet__card-2 {
    background-color: #F4E7F6;
}

.conncet__card-3 {
    background-color: #FFE9DA;
}